
		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<!-- Post Content
					============================================= -->
					<div class="postcontent nobottommargin col_last">

						<!-- Portfolio Filter
						============================================= -->
						<ul id="portfolio-filter" class="portfolio-filter clearfix" data-container="#portfolio">

							<li class="activeFilter"><a href="#" data-filter="*">Overview</a></li>
							<li><a href="#" data-filter=".pf-icons">Projects</a></li>

						</ul><!-- #portfolio-filter end -->

						<div class="clear"></div>

						<!-- Portfolio Items
						============================================= -->
						<!-- <div id="portfolio" class="portfolio grid-container portfolio-3 clearfix">

							<article class="portfolio-item pf-media pf-icons">
								<div class="portfolio-image">
									<a href="portfolio-single.html">
										<img src="images/portfolio/3/1.jpg" alt="Open Imagination">
									</a>
									<div class="portfolio-overlay">
										<a href="images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
										<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3><a href="portfolio-single.html">Open Imagination</a></h3>
									<span><a href="#">Media</a>, <a href="#">Icons</a></span>
								</div>
							</article>

						</div><!-- #portfolio end -->

					</div><!-- .postcontent end -->

					<!-- Sidebar
					============================================= -->
					<div class="sidebar nobottommargin">
						<div class="sidebar-widgets-wrap">

							<div class="widget clearfix">

								<div id="team team-list">
									<div class="clearfix alignleft">
										<div>
                      <%= image_tag(@profile.profile_picture, class: 'aligncenter img-square img-thumbnail notopmargin nobottommargin', style: 'max-width: 200px;') %>
										</div>

										<div class="team-desc" style="width: 200px; padding: 4px; text-align: left;">
											<div class="team-title">
                        <h4><%= name(@profile) %></h4>
                        <span><%= title(@profile) %></span>
                      </div>

                      <div class="team-content">
                        <%= biography(@profile) %>
                      </div>

                      <!-- <br/>

                      <div class="aligncenter">
                        <a href="#" class="social-icon si-rounded si-small si-facebook">
                          <i class="icon-facebook"></i>
                          <i class="icon-facebook"></i>
                        </a>
                        <a href="#" class="social-icon si-rounded si-small si-twitter">
                          <i class="icon-twitter"></i>
                          <i class="icon-twitter"></i>
                        </a>
                        <a href="#" class="social-icon si-rounded si-small si-gplus">
                          <i class="icon-gplus"></i>
                          <i class="icon-gplus"></i>
                        </a>
                      </div> -->
										</div>
									</div>

								</div>

							</div>

						</div>
					</div><!-- .sidebar end -->

				</div>

			</div>

		</section><!-- #content end -->

	</div><!-- #wrapper end -->
